.ba-slider {
    position: relative;
    overflow: hidden;
}

.ba-slider img {
    width: 100%;
    display:block;
    max-width:none;
}

.ba-slider .resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.ba-slider .handle { /* Thin line seperator */
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:4px;
    margin-left:-2px;

    background: rgba(0,0,0,.5);
    cursor: ew-resize;
}

.ba-slider .handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
        0 2px 6px rgba(0,0,0,.3),
        inset 0 2px 0 rgba(255,255,255,.5),
        inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.ba-slider .handle.ba-draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:50px;
    font-size:30px;
}

.font-bold {
    font-weight: bold;
}

/* List Timeline */
.kt-list-timeline .kt-list-timeline__group {
    margin: 0 0 2rem 0; }

.kt-list-timeline .kt-list-timeline__heading {
    margin: 0 0 1.25rem 0;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase; }

.kt-list-timeline .kt-list-timeline__items {
    position: relative;
    padding: 0;
    margin: 0; }
.kt-list-timeline .kt-list-timeline__items:before {
    background-color: #ebedf2;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 3px; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0.3rem 0;
    margin: 0.5rem 0; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child:before, .kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child:before {
    background-color: white;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child:before {
    top: auto;
    bottom: 0; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    width: 20px; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge:before {
    background-color: #ebedf2;
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    margin-top: -3.5px;
    border-radius: 100%; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--brand:before {
    background-color: #5d78ff; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--light:before {
    background-color: #ffffff; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--dark:before {
    background-color: #282a3c; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--primary:before {
    background-color: #5867dd; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--success:before {
    background-color: #0abb87; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--info:before {
    background-color: #5578eb; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--warning:before {
    background-color: #ffb822; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--danger:before {
    background-color: #fd397a; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__icon {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    width: 30px;
    padding: 0 5px 0 0;
    line-height: 0;
    color: #74788d; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class^="la-"],
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class*=" la-"] {
    font-size: 1.6rem; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class^="fa-"],
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class*=" fa-"] {
    font-size: 1.2rem; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class^="flaticon-"],
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class*=" flaticon-"],
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class^="flaticon2-"],
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item [class*=" flaticon2-"] {
    font-size: 1.6rem; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__text {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding: 0 0 0 5px;
    font-size: 1rem;
    color: #595d6e; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__text:hover {
    text-decoration: none; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__time {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 80px;
    padding: 0 0 0 5px;
    font-size: 0.9rem;
    color: #74788d; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child {
    padding-top: 0;
    margin-top: 0; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child:before, .kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child:before {
    background-color: #fff; }
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item.kt-list-timeline__item--read .kt-list-timeline__badge,
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item.kt-list-timeline__item--read .kt-list-timeline__icon,
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item.kt-list-timeline__item--read .kt-list-timeline__text,
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item.kt-list-timeline__item--read .kt-list-timeline__time {
    opacity: 0.5; }

.progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.9130434783px/2);
    top: calc(50% - 173.9130434783px/2);
    width: 173.9130434783px;
    height: 173.9130434783px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 50px auto 0;
}
